<app-header></app-header>
<main>
    <div *ngIf="currentUserRole == 'admin'" style="text-align: right; margin: 20px;"><button mat-raised-button color="primary" (click)="showAddCategoryDialog()"><mat-icon>add</mat-icon> Add New Category</button></div>
    <div class="container" style="margin-top: 30px;margin-bottom: 30px;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let item of sportsCategoryDetails;" style="margin-bottom: 20px;">
                <div class="card">
                    <mat-card [routerLink]="['/categories', item.name]">
                        <img src="{{item.thumbnail}}" alt="{{item.name}}" class="card-img-top" style="height: 150px; width: 100%; display: block;object-fit: none;">
                        <h2 class="card-title" style="text-align: center;">{{item.name | titlecase }}</h2>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>