<mat-sidenav-container class="footer">
    <br>
    <table>
        <tr>
            <td>Dalhousie University</td>
            <td><a class="a" href="https://athletics.dal.ca/about-us/dalplex_contact_us.html">Contact us</a></td>
        </tr>
        <tr>
            <td>Department of Athletics & Recreation</td>
            <td><a class="jobs" href="https://athletics.dal.ca/about-us/job_opportunities.html">Job Opportunities</a></td>
        </tr>
        <tr>
          <td>Halifax, Nova Scotia, Canada</td>
          <td><a class="directory" href="http://directory.dal.ca/">Campus Directory</a></td>
        </tr>
        <tr>
          <td>1.902.494.3372</td>
          <td><a class="jobs" href="https://www.dal.ca/privacy_statement.html">Privacy Statement</a></td>
        </tr>
      </table>
    </mat-sidenav-container>