/* Author:Falgun Jairaj Thakwani B00932083 */
.heading{
  margin-top: 30px;
}
.billing-add{
  margin-left: 20px;
  padding-top: 10px;
}
.select-card{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex: 2;
  justify-content: space-between;
}
.add-card{
  margin-right: 20px;
}
.buttons{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /* width:150px; */
}
.pay-button{
  width:250px;
  margin-bottom: 20px;
}
.credit-card {
  display: inline-block;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(10, 9, 9, 0.3);
  /* position: relative; */
}

.card-main{
  margin-top:4%;
  margin-bottom:4%;
  display: flex;
}
.credit-card__number {
  /* font-size: 24px;
  font-weight: 600; */
  letter-spacing: 1px;
  /* padding: 30px 15px; */
  /* background-image: linear-gradient(to right, #999999 25%, transparent 25%, transparent 75%, #999999 75%, #999999), linear-gradient(to bottom, #999999, #999999);
  background-size: 15px 2px, 100% 1px;
  background-position: left center, left bottom;
  background-repeat: no-repeat; */
  color: black;
}

.card-error{
  color:red;
}
.card-footer{
  display: flex;
  justify-content: space-between;
}

.credit-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 30px;
}




.credit-card__back {
  background-color: #fff;
  transform: rotateY(180deg);
  border-radius: 15px;
}

.credit-card__magstripe {
  background-image: linear-gradient(to right, #999999 25%, transparent 25%, transparent 75%, #999999 75%, #999999);
  background-size: 10px 100
}
