.spacer{
    flex: 1 1 auto
}

mat-toolbar{
    background-color: yellow;
}
.icon{
    height: 50px;
    width: 50px;
    float: left;
}
.profile-icon{
    height: 50px;
    width: 50px;
    float: right;
}
mat-select{
    width: 50px;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
  padding-left: 3px;
  padding-right: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
