.spacer{
    flex: 1 1 auto
}

mat-toolbar{
    background-color: yellow;
}
.icon{
    height: 50px;
    width: 50px;
    float: left;
}
.profile-icon{
    height: 50px;
    width: 50px;
    float: right;
}
mat-select{
    width: 50px;
}
