<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<mat-toolbar>
    <img class="icon" src="https://www.wemakescholars.com/admin/uploads/providers/uQJuTR9lcaqhRKUfTh66iAgiMy1mQWJh.png"/>
    <span>Dalplex</span>
 
     <div class="spacer"></div>
 
     <a mat-button>Login</a>
     <a mat-button>Sign up</a>
     <a mat-button>Events</a>
     <a mat-button>Facilities</a>
     <a mat-button>About Us</a>
     <mat-select class="profile-dropdown" *ngIf=false>    
      <mat-option><a mat-button>Profile</a></mat-option>
      <mat-option><a mat-button>Sign Out</a></mat-option> 
     </mat-select>
   </mat-toolbar>