

    <mat-list>
      <mat-list-item *ngFor="let item of dataSource.data">
        <div class="delete-button">
          <button mat-icon-button color="black">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <img class="itemImage"  src="{{item.imagePath}}" alt="{{item.name}}" >
        <div class="itemTitle">
          <h1 matLine>{{item.name}}</h1>
          <p matLine>Booking For</p>
          <p matLine>{{item.userName}}</p>
        </div>
        <mat-list-item>
          <h3 matLine>{{item.date}}</h3>
          <p matLine>{{item.timeStart}} to {{item.timeEnd}}</p>
        </mat-list-item>
        <mat-list-item>
          <div class="itemQuantity">
            <h3 matLine>X{{item.quantity}}</h3>
          </div>

        </mat-list-item>
          <mat-list-item>
            <h2>${{item.unitPrice}}</h2>
          </mat-list-item>
      </mat-list-item>
    </mat-list>
    <br>
    <br>
    <!-- <div class="promoCode">
      <div class="promoCodeTitle display-5">

    <h2>Have a promocode? Enter your code!</h2>
      </div>
      <div class="promoCodeField" style="display: flex;">
        <form style="width: 80%;">
          <mat-form-field color="primary">
            <mat-label>Code</mat-label>
            <input matInput placeholder="Code">
          </mat-form-field>
          <button class="apply-button"mat-raised-button>Apply</button>
          <input id="promoValue" class="no-outline" type="text" name="Coupon" placeholder="Coupon Code" style="width:50%;" #coupon>
          <input type="button" value="Apply" class="btn btn-outline-info" style="margin-left: 20px;">
        </form>
          <i class="bi bi-arrow-clockwise icon-white" style="float:right"> <a href="" style="padding-left:10px ;">UPDATE CART</a></i>
      </div> -->
      <!-- <span id="invalidPromo" [ngStyle]="{color:color}">{{msg}}</span>
    </div>-->



    <!-- <h2>Have a promocode? Enter your code!</h2>


    <div class="update-cart">
      <mat-form-field color="primary">
        <mat-label>Code</mat-label>
        <input matInput placeholder="Code">
      </mat-form-field>
      <button class="apply-button"mat-raised-button>Apply</button>
      <div class="link">
        <a href="">UPDATE CART</a>
      </div>

    </div> -->

