<div class="wholepage">
    <h2 class="header"> Tournaments</h2>

<div class="headline-header">
     <h3>Headlines</h3>
</div>

<div class="headlines">
    <p>Tournament 1 is going to happen today at dalplex</p>
</div>
<!-- 6 -->
<mat-grid-list cols="2" gutterSize="50px" rowHeight="200">
    <mat-grid-tile routerLink="/trank">Rankings</mat-grid-tile>
    <mat-grid-tile routerLink="/tfiteam">Find a Team</mat-grid-tile>
    <mat-grid-tile routerLink="/tleague">Leagues</mat-grid-tile>
    <mat-grid-tile routerLink="/tmatch">Upcoming Matches</mat-grid-tile>
  </mat-grid-list>

  <!-- 6 -->

</div>