<body class="bg">
    <mat-card>
        <mat-card-content>
            <div class="header">
                <h2>User Registration</h2>
            </div>
            <form (ngSubmit)="onRegister()" name="registrationForm" [formGroup]="registrationForm">
                <div class="firstname-input">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>FirstName</mat-label>
                        <input formControlName="firstname" matInput required/>
                        <mat-error *ngIf="'registrationForm.get(firstname).errors?.required'">
                            Enter letters only
                        </mat-error>
                    </mat-form-field>
                </div>
                    <div class="lastname-input">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>LastName</mat-label>
                            <input formControlName="lastname" matInput required/>
                            <mat-error *ngIf="'registrationForm.get(lastname).errors?.required'">
                                Enter Letters only
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="email-input">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput required/>
                            <mat-error *ngIf="'registrationForm.get(email).errors?.required'">
                                email required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="password-input">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="password" matInput [type]= "'hide ? password: text'" required/>
                        <button mat-icon-button matSuffix (click)="'hide=!hide'"[attr.aria-label]="'Hide Password'" [attr.aira-pressed]="'hide'">
                            <mat-icon>{{ 'hide' ? 'visibility-off': 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="'registraionForm.get(password).errors?.required'">
                            minimum 8 characters required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="confirmpassword-input">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input type="password" formControlName="confirmpassword" matInput [type]= "'hide ? password: text'" required/>
                        <button mat-icon-button matSuffix (click)="'hide=!hide'"[attr.aria-label]="'Hide Password'" [attr.aira-pressed]="'hide'">
                            <mat-icon>{{ 'hide' ? 'visibility-off': 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="'registrationForm.get(confirmpassword).errors?.required'">
                            minimum 8 characters required
                        </mat-error>
                    </mat-form-field>
                </div>
                <button type="submit" mat-flat-button color="primary">Register</button><br>
            </form>
        </mat-card-content>
    </mat-card>
    <br>
    </body>