.header {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.filters {
    padding: 10px;
  text-align: center;
  background-color: lightcyan;
  border: 1pt solid;
  margin:0 20px 0 20px;
}

mat-grid-list {
    width:80%;
    padding: 2px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* 7 */
.example-card {
    max-width: 400px;
    background: lightblue;
    padding: 30px;
  }

.grid-container {
    padding: 20px;
}
